.introducao-bg {
  background-color: #000;
  color: #fff;
  box-shadow: inset 0px -120px 0px #fff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  align-items: end;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0px auto;
}

.introducao img {
  border-radius: 4px;
  object-fit: cover;
}

.introducao-conteudo {
  padding-bottom: 200px;
}

.introducao h1 {
  font-size: 64px;
  line-height: 1.125;
  padding-bottom: 32px;
  font-family: "Poppins";
  font-weight: 600;
}
.introducao h1 span {
  color: #ffc700;
}

.introducao p {
  font-size: 24px;
  line-height: 1.33;
  color: #ccc;
  padding-bottom: 32px;
  font-family: "Roboto";
  font-weight: 400;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 32px;
  }
  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    padding-top: 40px;
    box-shadow: inset 0px -32px #fff;
    gap: 0px 20px;
    background-color: #111;
  }

  .introducao-conteudo {
    padding-bottom: 32px;
  }
  .introducao h1 {
    font-size: 24px;
  }

  .introducao img {
    height: 160px;
    width: 100%;
  }
}
