.introducao-bg {
  background-color: #000;
  box-shadow: inset 0px -120px 0px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  align-items: end;
}

.introducao img {
  object-fit: cover;
}

.introducao-conteudo {
  padding-bottom: 200px;
}

.introducao h1 {
  padding-bottom: 32px;
}

.introducao p {
  padding-bottom: 32px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 32px;
  }
  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    padding-top: 40px;
    box-shadow: inset 0px -32px #fff;
    gap: 0px 20px;
    background-color: #111;
  }

  .introducao-conteudo {
    padding-bottom: 32px;
  }
  .introducao h1 {
    font-size: 24px;
  }

  .introducao img {
    height: 160px;
    width: 100%;
  }
}
