:root {
  /* tons de cinza */
  --cor-0: #ffffff;
  --cor-1: #f5f5f5;
  --cor-2: #e7e7e7;
  --cor-3: #dedede;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #a1a1a1;
  --cor-7: #858585;
  --cor-8: #6b6b6b;
  --cor-9: #585858;
  --cor-10: #383838;
  --cor-11: #111111;
  --cor-12: #000000;
  /* cor destaque */
  --cor-p1: #ffc700;
  --cor-p2: #cca610;
  --cor-p3: #ad8c20;
  --cor-p4: #806123;
  --cor-p5: #4d381a;
  --cor-p6: #332615;
}

/* Cinzas */
.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}

/* Cor destaque */

.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-p6 {
  color: var(--cor-p6);
}
